@use 'build/font';

$m8: #00efff;
$m8-font: 'stealth57';
$shield-z: 1000;

body {
    font-family: sans-serif;
    background-color: #000;
    color: #eee;
    margin: 0px;
    font-size: 16px;
}

a, a:visited {
    color: $m8;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

    &:focus {
        outline: 1px solid $m8;
    }
}

.hidden {
    display: none;
}

label, input, select, button {
    appearance: none;
    font-family: $m8-font;
    font-size: 14px;
    background-color: #000;
    color: #fff;

    &:hover {
        background-color: $m8;
        color: #000;
    }

    &:active {
        background-color: darken($m8, 10%);
        color: #fff;
    }

    &:focus, &:focus-within {
        outline: none;
        color: $m8;

        &:hover {
            color: #000;
        }

        &:active {
            color: #fff;
        }
    }
}

button {
    border: 3px solid #fff;
    padding: 20px;
}

input[type=checkbox] {
    font-family: $m8-font;

    &::after {
        content: 'OFF';
    }

    &:checked::after {
        content: 'ON';
    }
}

input[type=file] {
    border: 3px solid #fff;
    padding: 20px;
}

select {
    padding: 5px 32px 5px 5px;
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23fff' stroke-width='3' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px;

    font-family: sans-serif;
    font-size: 12px;
}

progress {
    border: 3px solid #fff;
    height: 40px;
    width: 100%;

    &::-webkit-progress-bar {
        background-color: #000;
    }

    &::-webkit-progress-value {
        background-color: $m8;
    }
}

#display {
    position: relative;
    width: 100vw;
    height: 100vw * 3 / 4;
    max-width: 100vh * 4 / 3;
    max-height: 100vh;
    margin: 0 auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    user-select: none;

    canvas, svg {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    canvas {
        image-rendering: pixelated;
    }

    svg text {
        font-family: $m8-font;
        font-size: 16px;
    }

    #buttons {
        position: absolute;
        top: 25px;
        width: 100%;
        text-align: center;

        body.mapping & {
            display: none;
        }
    }

    #mapping-buttons {
        display: none;
        position: absolute;
        top: 25px;
        width: 100%;
        text-align: center;

        body.mapping & {
            display: block;
        }

        button {
            margin: 0 5px 10px;
        }
    }

    &.with-controls, body.mapping & {
        height: 100vw * 6 / 4;
        max-width: 100vh * 4 / 6;

        canvas, svg {
            height: 50%;
        }

        #controls {
            display: block;
        }
    }

    #controls {
        display: none;
        position: relative;
        width: 100%;
        height: 50%;
        top: 50%;

        > div {
            position: absolute;
            width: 20.3125%;
            height: 27.0833%;
            border: 3px solid #aaa;
            border-radius: 10px;
            background-color: #333;
            box-sizing: border-box;
            padding: 5px;
            text-align: center;
            font-size: 80%;

            &.active {
                border-color: $m8;
            }

            &.mapping {
                border-color: #e30;
                z-index: $shield-z + 1;
            }
        }
    }

    #mapping-help {
        display: none;
        position: absolute;
        bottom: 50%;
        width: 100%;
        font-family: $m8-font;
        text-align: center;

        body.mapping & {
            display: block;

            .select-action {
                display: block;
            }
            .enter-input {
                display: none;
            }
        }

        body.mapping.capturing & {
            .select-action {
                display: none;
            }
            .enter-input {
                display: block;
                position: relative;
                z-index: $shield-z + 1;
            }
        }
    }
}

#capture-shield {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: $shield-z;

    body.mapping.capturing & {
        display: block;
    }
}

#info {
    position: absolute;
    top: 100px;
    left: 100px;
    right: 100px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.75);
    text-align: center;
    line-height: 1.5;

    h1 {
        font-family: $m8-font;
        font-size: 32px;
        margin: 0 0 16px;
    }

    .warning {
        color: #e22;
    }
}

.error {
    position: absolute;
    top: 100px;
    left: 100px;
    right: 100px;
    border: 3px solid #fff;
    padding: 20px;
    background-color: #a22;
    user-select: text;

    p {
        margin-top: 0;
    }

    p:last-child {
        margin-bottom: 0;
    }
}

#reload {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;

    button {
        border-bottom-width: 0;
    }
}

$menu-time: 80ms;

#settings {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color $menu-time linear 0s;
    user-select: none;

    &.hidden {
        display: block;
        width: 0;
        height: 0;
        background-color: rgba(0, 0, 0, 0);

        .setting {
            visibility: hidden;
            margin-left: -323px;
            transition: none;
        }

        #menu-button {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23fff' stroke-width='1.5' d='M2 4h12M2 8h12M2 12h12'/%3e%3c/svg%3e");
        }
    }

    &.hidden.auto-hide {
        #menu-button {
            opacity: 0%;
            transition: opacity 0.8s linear 0.8s;

            &:hover, &:focus {
                opacity: 100%;
                transition: opacity 0s;
            }
        }
    }

    #menu-button {
        width: 32px;
        height: 32px;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23fff' stroke-width='1.5' d='M3 3l10 10M3 13l10-10'/%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-color: transparent;
        border-color: transparent;
        font-size: 0;
        margin-bottom: -3px;

        &:hover {
            background-color: $m8;
        }

        &:active {
            background-color: darken($m8, 10%);
            color: #fff;
        }

        &:focus {
            color: $m8;
            border-color: $m8;

            &:hover {
                color: #000;
            }

            &:active {
                color: #fff;
            }
        }
    }


    .setting {
        width: 320px;
        border: 3px solid #fff;
        border-width: 3px 3px 0 0;
        margin-left: 0;
        transition: margin-left $menu-time linear 0s;

        &:last-child {
            border-bottom-width: 3px;
        }

        label {
            display: block;
            position: relative;
            padding: 10px;

            input, select {
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                margin: 0;
                border: 0;
            }

            input[type=checkbox] {
                padding: 10px;
            }

            select {
                width: 50%;
            }
        }

        button {
            display: block;
            width: 100%;
            margin: 0;
            border: 0;
            padding: 10px;
        }
    }
}

#firmware {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 100px;
    background-color: rgba(0, 0, 0, 0.75);
    text-align: center;
    font-family: $m8-font;
    line-height: 1.5;

    &.hidden {
        display: none;
    }

    p.select-file-msg,
    input[type=file],
    p.file-loading-msg,
    p.file-error-msg,
    p.select-device-msg,
    button.select-device,
    p.device-error-msg,
    p.flash-msg,
    button.flash,
    p.flashing-msg,
    progress.flash,
    p.flash-error-msg,
    p.flash-success-msg {
        display: none;
        margin: 20px auto;
    }

    p.file-error-msg,
    p.device-error-msg,
    p.flash-error-msg {
        color: #e22;
    }

    &.file-select {
        p.select-file-msg,
        input[type=file] {
            display: block;
        }
    }

    &.file-loading {
        p.file-loading-msg {
            display: block;
        }

        button.close {
            display: none;
        }
    }

    &.file-error {
        p.select-file-msg,
        input[type=file],
        p.file-error-msg {
            display: block;
        }
    }

    &.file-loaded {
        p.select-device-msg,
        button.select-device {
            display: block;
        }
    }

    &.device-error {
        p.select-device-msg,
        button.select-device,
        p.device-error-msg {
            display: block;
        }
    }

    &.device-selected {
        p.flash-msg,
        button.flash {
            display: block;
        }
    }

    &.flashing {
        p.flashing-msg,
        progress.flash {
            display: block;
        }

        button.close {
            display: none;
        }
    }

    &.flash-error {
        p.select-device-msg,
        button.select-device,
        p.flash-error-msg {
            display: block;
        }
    }

    &.flash-success {
        p.flash-success-msg {
            display: block;
        }
    }

    button.close {
        display: block;
        position: absolute;
        right: 100px;
        bottom: 100px;
    }
}
