@use 'font';

$m8: #00efff;
$m8-font: 'stealth57';

body {
    font-family: sans-serif;
    background-color: #000;
    color: #eee;
    margin: 0px;
    font-size: 16px;
}

a, a:visited {
    color: $m8;

    &:focus {
        outline: 1px solid $m8;
    }
}

.hidden {
    display: none;
}

label, input, select, button {
    appearance: none;
    font-family: $m8-font;
    font-size: 14px;
    background-color: #000;
    color: #fff;

    &:hover {
        background-color: $m8;
        color: #000;
    }

    &:active {
        background-color: darken($m8, 10%);
        color: #fff;
    }

    &:focus, &:focus-within {
        outline: none;
        color: $m8;

        &:hover {
            color: #000;
        }

        &:active {
            color: #fff;
        }
    }
}

button {
    border: 3px solid #fff;
    padding: 20px;
}

input[type=checkbox] {
    font-family: $m8-font;

    &::after {
        content: 'OFF';
    }

    &:checked::after {
        content: 'ON';
    }
}

select {
    padding: 5px 32px 5px 5px;
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23fff' stroke-width='3' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px;

    font-family: sans-serif;
    font-size: 12px;
}

#info {
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
    padding: 5px;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.5);
}

#display {
    position: relative;
    width: 100vw;
    height: 100vw * 3 / 4;
    max-width: 100vh * 4 / 3;
    max-height: 100vh;
    margin: 0 auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    user-select: none;

    canvas, svg {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    canvas {
        image-rendering: pixelated;
    }

    svg text {
        font-family: $m8-font;
        font-size: 16px;
    }

    #buttons {
        position: absolute;
        top: 25px;
        width: 100%;
        text-align: center;
    }

    .error {
        position: absolute;
        top: 100px;
        left: 100px;
        right: 100px;
        border: 3px solid #fff;
        border-radius: 10px;
        padding: 20px;
        background-color: #a22;
        user-select: text;

        p {
            margin-top: 0;
        }

        p:last-child {
            margin-bottom: 0;
        }
    }

    &.with-controls {
        height: 100vw * 6 / 4;
        max-width: 100vh * 4 / 6;

        canvas, svg {
            height: 50%;
        }

        #controls {
            display: block;
        }
    }

    #controls {
        display: none;
        position: relative;
        width: 100%;
        height: 50%;
        top: 50%;

        rect {
            fill: #333;
            rx: 10px;
            stroke: #aaa;
            stroke-width: 3px;
            width: 130px;
            height: 130px;

            &.active {
                stroke: $m8;
            }
        }
    }
}

#reload {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;

    button {
        border-bottom-width: 0;
    }
}

$menu-time: 80ms;

#settings {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color $menu-time linear 0s;
    user-select: none;

    &.hidden {
        display: block;
        width: 0;
        height: 0;
        background-color: rgba(0, 0, 0, 0);

        .setting {
            visibility: hidden;
            margin-left: -323px;
            transition: none;
        }

        .control {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23fff' stroke-width='1.5' d='M2 4h12M2 8h12M2 12h12'/%3e%3c/svg%3e");
        }
    }

    .control {
        width: 32px;
        height: 32px;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23fff' stroke-width='1.5' d='M3 3l10 10M3 13l10-10'/%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-color: transparent;
        border-color: transparent;
        font-size: 0;
        margin-bottom: -3px;

        &:hover {
            background-color: $m8;
        }

        &:active {
            background-color: darken($m8, 10%);
            color: #fff;
        }

        &:focus {
            color: $m8;
            border-color: $m8;

            &:hover {
                color: #000;
            }

            &:active {
                color: #fff;
            }
        }
    }


    .setting {
        width: 320px;
        border: 3px solid #fff;
        border-width: 3px 3px 0 0;
        margin-left: 0;
        transition: margin-left $menu-time linear 0s;

        &:last-child {
            border-bottom-width: 3px;
        }

        label {
            display: block;
            position: relative;
            padding: 10px;

            input, select {
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                margin: 0;
                border: 0;
            }

            input[type=checkbox] {
                padding: 10px;
            }

            select {
                width: 50%;
            }
        }

        button {
            display: block;
            width: 100%;
            margin: 0;
            border: 0;
            padding: 10px;
        }
    }
}
